<div class="box">
  <h1>Hide a Div according to a field in Javascript and CSS</h1>
  <%= simple_form_for @property, method: :post do |f| %>
  <%= f.input :properties_type, placeholder: "Enter your housing type", label: 'Apartment or house' %>
  <div id="hide_floor">
    <%= f.input :floor, collection: 0..10, selected: 0, placeholder: "Floor number", label: "If it's an apartment, what floor ?" %>
  </div>
  <%= f.button :submit, 'Add', class: "btn btn-primary" %>
  <% end %>
</div>
