<div class="box">
  <h1>Show</h1>
  <% case @property.properties_type %>
    <% when 'apartment' %>
    <p> An <strong>apartment</strong> </p>
      <% case @property.floor %>
        <% when 0..2 %>
        <p>It's okay, you're not going to get tired with that <strong> <%= pluralize(@property.floor, "floor") %> </strong> to be raised</p>
        <% when 3..5 %>
        <p>No problem, it can be set up without difficulty <strong><%= @property.floor %> floors</strong> </p>
        <% when 6..8 %>
        <p>It's starting to hurt a lot <%= @property.floor %> floors</p>
        <% when 9..10 %>
        <p>Now, respect ! <strong><%= @property.floor %> floors</strong> </p>
      <%end  %>
    <% when 'house' %>
    <p> Une <strong>house</strong></p>
    <% else %>
    <p> We had asked for an apartment or a house, <strong>potato !</strong></p>
  <% end %>
</div>
